/* #4F5D61 */

.bg-banana {
    background: yellow;
}

.bg-slate {
    background: #4F5D61;
}

.bg-chair {
    background-image: url(images/chair.jpg);
    background-size: cover;
    height: 30rem;
}

/* col-12 col-md-4 col-lg-6 bg-primary text-white p-3 text-center
.middle-column {
    background: blue;
    color: white;
    text-align: center;
    padding: 1.5rem;
    width: 8.34%;
}
*/