/*#fafafabb*/

.bg-slate {
    background-color: #4F5D61;
}

.jumbo {
    background-image: url(images/chair.jpg);
    background-size: cover;
    height: 500px;
}

footer {
    background-color: #C2B8AD;
}